.square {
  width: 100px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0%);
}
.rectangle {
  width: 100px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0%);
}
.parallelogram {
  width: 100px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.circle {
  width: 100px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: circle(50% at 50% 50%);
}
.oval {
  width: 200px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: ellipse(25% 40% at 50% 50%);
}
.triangle {
  width: 100px;
  height: 87px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.starFive {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.diamond {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path:polygon(50% 100%, 100% 25%, 75% 0, 25% 0, 0 25%);
}
.cross {
  height: 200px;
  width: 200px;
  background: #ee6e73;
  -webkit-clip-path:polygon(0% 40%,40% 40%,40% 0%,60% 0%,60% 40%,100% 40%,100% 60%,60% 60%,60% 100%,40% 100%,40% 60%,0 60%);
}
