.square {
  width: 100px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0%);
}
.rectangle {
  width: 100px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0%);
}
.parallelogram {
  width: 100px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.circle {
  width: 100px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: circle(50% at 50% 50%);
}
.oval {
  width: 200px;
  height: 100px;
  background: #ee6e73;
  -webkit-clip-path: ellipse(25% 40% at 50% 50%);
}
.triangle {
  width: 100px;
  height: 87px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.starFive {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.diamond {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(50% 100%, 100% 25%, 75% 0, 25% 0, 0 25%);
}
.cross {
  height: 200px;
  width: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 40%, 40% 40%, 40% 0%, 60% 0%, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
}
.pentagon {
  height: 200px;
  width: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.hexagon {
  height: 200px;
  width: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
}
.heptagon {
  height: 200px;
  width: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%)
}
.octagon {
  height: 200px;
  width: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)
}
.rhombus {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
}
.leftArrow {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(40% 0,40% 20%,100% 20%,100% 80%,40% 80%,40% 100%,0 50%);
}
.rightArrow {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.message {
  width: 200px;
  height: 200px;
  background: #ee6e73;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
