/* Clearing */

.clear:before, .clear:after, [class*="content"]:before, [class*="content"]:after, [class*="site-main"]:before, [class*="site-main"]:after {
  content: '';
  display: table;
}
.clear:after, [class*="content"]:after, [class*="site-main"]:after {
  clear: both;
}
ul {
    line-height: 4!important;
}
/* main style*/
.site-main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.left-show {
    margin: 4% 0;
    text-align: center;
    width: 50%;
    position: relative;
    z-index: 11;
    height: auto;
    display: block;
}
.right-btn {
  width: 50%
}
#show {
  display: inline-block;
}
.show-code{
    margin-top: 7%;
}
.btn-group {
  max-width: 700px;
}
.btn-group {
  padding: 60px 3% 20px 3%;
}
.btn-group > a {
  margin: 1%;
}
.color-box , .size-box{
  padding: 20px 3%;
}
.size-box {
  display: flex;
  width: 100%
}
.input-box {
  flex: 1;
  width: 10%
}
.range-box {
  flex: 2;
  width: 90%;
  margin-top: 6%;
}

button {
    margin: 1%!important;
}

input[type="color" i] {
  border: none;
  padding: 0;
  background: inherit;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  height: 36px;
  min-width: 64px;
  margin-right: 4em;
}

/*code style*/

pre {
    overflow: auto;
    margin: 20px 0;
    padding: 15px;
    font-size: 13px;
    color: #4d4d4c;
    background: #f7f7f7;
    line-height: 1.6;
    text-align: justify;
    text-justify: distribute;
    display: block;
}
code,
pre {
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
    padding: 2px 4px;
    word-break: break-all;
    color: #4d4d4c;
    border-radius: 4px;
    font-size: 13px;
}
